.outter{
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* .home-outter{
    height: min(92vh);
    background: linear-gradient(rgb(141, 141, 214), blue)
  }
  
  .home-outter  h1{
    text-align: center;
    font-size: 3rem;
  }
  
  .home-outter a{
    color: yellow;
  } */

.form{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form input {
    margin-top: 10px;
    padding: 4px 6px;
    width: min(80%, 400px);
    border-radius: 5px;
    background-color:rgb(237, 210, 210);
    border: none;
    color: black;
}

.form button{
    font-size: 20px;
    margin-top: 20px;
    padding: 4px 6px;
    width: min(80%, 400px);
    border-radius: 5px;
    background-color:black;
    border: none;
    color: white;
}

.form button:hover{
    transform: scale(.96);
}

.reg-link{
  margin-top: 20px;
}

.reg-link span{
  color: azure;
}

.reg-link a{
  margin-left: 15px;
  /* background-color: black; */
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 10px;
}
.reg-link a:hover{
  text-decoration: none;
  color: white;
  background-color: rgb(112, 22, 22);
}